<%- include('partials/head',{titulo:'Cambio de contrase単a'}); %>

  <body>
    <div class="container">
      <h1>Cambio de contrase単a</h1>
      <div class="form-container">
        <form action="/cambio_contrasenia/cambioContrasenia" method="post">
          <div class="forma">
            <input name="pass" type="text" placeholder="Digite su nueva contrase単a">
            <input name="passConfir" type="text" placeholder="Confirme su contrase単a nueva">
            <input class="btn" type="submit" type="c" value="Confirmar">
          </div>
        </form>
      </div>
    </div>
  </body>
  </html>