<%- include('partials/head',{titulo:'Recuperar contraseña'}); %>

<body>

  <header>
      <h2 class="fuente">U ACADEMY</h2>
  </header>

  <main>

  <form action="/recuperar/recup" class="estructura recuperarCuenta grid__RecuperarCuenta" method="post"> 

      <h4 class="grid-nested__RecuperarCuenta"> RECUPERA TU CUENTA </h4>

      <section class="grid-nested__RecuperarCuenta caja__RecuperarCuenta">
          <p>Ingresa tu correo o tu nombre de usuario.</p>
      </section>

      <section class="grid-nested__RecuperarCuenta">
          <input  class=          "inputDatos"  
                  type=           "email" 
                  id=             "userOcorreo"
                  name=           "userOcorreo"  
                  required>
                  <span></span>
      </section>

      <section class="grid-nested__RecuperarCuenta centrar">
          <input  class=          "botonEnviar hoverable" 
                  type=           "submit" 
                  value=          "Enviar">
      </section>
  </form>

  </main>
  
  <script src="/js/validacionrecuperarCuenta.js"></script>

</body>
</html>